body {
    height: 6000px;
}

h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    text-transform: capitalize;
}

button {
    background-color: red;
    border: none;
    padding: 10px 25px;
    font-size: 25px;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
}
